<h2>Harp – Статический веб-сервер с встроенными препроцессорами</h2>
<p>В этой статье я расскажу о <a href="http://harpjs.com/">Harp</a> – статическом веб-сервере с встроенными препроцессорами Jade, Markdown, EJS, CoffeeScript, Sass (SCSS), LESS и Stylus в HTML, JavaScript и CSS соответственно. И всё это без утомительной настройки и прочих трепыханий. Статья является агрегатом общедоступной информации с выделением наиболее интересных особенностей данного решения.</p>


<h2>Harp и IIS</h2>
<h3>FAQ</h3>